<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /job-search-os/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /job-search-os/index.html [L]
</IfModule>
